@model ShopQuocViet.Models.NguoiDung


@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/LayoutDangNhap.cshtml";
}
<div class="box-form">
    <div class="content-form">
      
            <form action="Register/Test" method="post">
                {
                <h2>Register Form</h2>
                <div class="form-group">

                    @Html.TextBoxFor(m => m.TenDN, "", new { @class = "txt-input", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.TenDN)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MatKhau, "", new { @class = "txt-input", @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.MatKhau)
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" name="Submit" class="txt-input" />
                </div>
            </form>
        
    </div>
</div>


