@using ShopQuocViet.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="ChiTietSP.html03a6f3">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" ~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <link href="~/Content/css/myStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/ThangStyle.css">
    <link href="~/Content/css/PageList.css" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

</head>
<body>
    <header>
        <div class="header-top fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-5"><a href="ChiTietSP.html" class="web-url">www.ShopQuocViet.com</a></div>
                    <div class="col-md-4 tenShop">
                        <h5>Nhà sách Quốc Việt</h5>
                    </div>
                    <div class="col-md-3 TaiKhoan">
                        @if (Session["TaiKhoan"] != null)
                        {
                            NguoiDung ND = (NguoiDung)Session["TaiKhoan"];
                            <span >Xin chào: <a href="/TaiKhoan/ThongTinCaNhan" style="color: darkblue">@ND.TenND</a></span>
                            <span class="ph-number"><a href="~/Home/DangXuat">Đăng xuất</a></span>
                        }
                        else
                        {
                            <a href="~/TaiKhoan/DangNhap">Đăng nhập</a>
                            <a href="~/TaiKhoan/DangKy">Đăng ký</a>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/Home/index"><img src="~/Content/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="/Home/index" class="nav-link">Trang chủ</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/DanhMucSP/index" class="nav-link">Danh mục sách</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/GioHang/TheoDoiDonHang" class="nav-link">Theo dõi Đơn hàng</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/GioiThieu/index" class="nav-link">Thông tin</a>
                            </li>
                        </ul>
                        <div class="cart my-2 my-lg-0">
                            <a href="~/GioHang/index">
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span  class="quntity">@Html.Action("SoLuongLoaiSach", "GioHang")</span>                        
                            </a>
                        </div>
                            <form class="form-inline my-2 my-lg-0" method="post" action="~/Home/Search">
                                <input class="form-control mr-sm-2" type="search" name="key" placeholder="Tìm kiếm..." aria-label="Search">
                                <input type="submit" value="Tìm kiếm" id="butSearch"/>
                            </form>

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div id='fb-root'></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
                            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class='fb-customerchat' page_id='112530187239074' theme_color='#1867e8' logged_in_greeting='Xin chào, Shop Quốc Việt có thể hổ trợ gì cho bạn không?' logged_out_greeting='Xin chào, Shop Quốc Việt có thể hổ trợ gì cho bạn không?'>
    </div>
    @RenderBody()
    <footer>
        <div class="container footer-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="address1">
                        <br />
                        <br />
                        <h4>Địa chỉ</h4>
                        <h6>136 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</h6>
                        <h6>Số điện thoại : 800 1234 5678</h6>
                        <h6>Email : ShopQuocViet@gmail.com</h6>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="timing">
                        <br />
                        <br />
                        <h4>Thời gian mở cửa</h4>
                        <pre>Thứ 2 - Thứ 6: 7h - 10h</pre>
                        <pre>​​Thứ 7:         8h - 10h</pre>
                        <pre>​Chủ nhật:      8h - 11h</pre>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="navigation1">
                        <br />
                        <br />
                        <h4>Shop Quốc Việt</h4>
                        <ul>
                            <li><a href="/Home/index">Trang chủ</a></li>
                            <li><a href="/GioiThieu/index">Giới thiệu</a></li>
                            <li><a href="/GiaoHang/index">Chính sách giao hàng</a></li>
                            <li><a href="/DoiTra/index">Chinh sách đổi trả</a></li>
                            <li><a href="https://www.facebook.com/bookshop.org" target="_blank">Shop Quốc Việt trên facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Công ty trách nhiệm hữu hạn Quang Việt</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
<style>
    #butSearch:hover
    {
        background-color: orange;
    }

    </style>
<script type="text/javascript">
     $(".anhKemSP").hover(function () {
         var srcAnhNho = $(this).attr('src');
         $(".anhMax").attr('src', srcAnhNho);
    })
   

     function myFunction() {
         var x = document.getElementById("snackbar");
         x.className = "show";
         setTimeout(function () {
             x.className = x.className.replace("show", "");
         }, 3000);
     }
     function myFunction1() {
         var x = document.getElementById("snackbar1");
         x.className = "show";
         setTimeout(function () {
             x.className = x.className.replace("show", "");
         }, 3000);
     }
</script>
</html>
