
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- css files -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/css/Login.css" rel="stylesheet" type="text/css" media="all" />
</head>
    <body>
        <div class="container demo-1">
            <div class="content">
                <div id="large-header" class="large-header">
                    <h1>Cửa hàng sách Quốc Việt</h1>
                    @RenderBody()
                    <div class="copyright w3-agile">
                        <p>Công ty trách nhiệm hữu hạn Quốc Việt</p>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
