
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="breadcrumb">
                    <div class="container">
                        <a class="breadcrumb-item" href="ChiTietSP.html">Shop Quốc Việt</a>
                        <span class="breadcrumb-item active">Danh mục sách</span>

                    </div>
                </div>
                <nav class="mainNav">
                    <ul>
                        <li class="selected">
                            <a href="#">Sách Tiếng Việt</a>
                            <ul>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Bà mẹ - Em bé</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Chính trị - Pháp lý</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Công nghệ thông tin</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Giáo khoa - Giáo trình</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Học ngoại ngữ</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Khoa học - Kĩ thuật</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Sách Lịch sử</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">English Books</a>
                            <ul>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Art Photography</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Biographies</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Dictionary</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">History</a>
                                </li>
                                <li>
                                    <a href="DanhSachSanPhamTheoDanhMuc.html">Fiction_Literature</a>
                                </li>
                                <li><a href="DanhSachSanPhamTheoDanhMuc.html">Children's Book</a>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <section class="static about-sec">
                    <div class="container">
                        <h2>Sách Bán Chạy Nhất Của Shop</h2>
                        <div class="recent-book-sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r1.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r2.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r3.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r1.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r2.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r3.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-sec">
                                <a href="DanhMucSanPham.html" class="btn orange-btn">Xem thêm</a>
                            </div>
                        </div>
                        <h2>Sách mới nhập về</h2>
                        <div class="recent-book-sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r1.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r2.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r3.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r5.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r1.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r2.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r3.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r5.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r1.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r2.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r3.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r5.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r1.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r2.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r3.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r4.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="item">
                                        <img src="images/r5.jpg" alt="img">
                                        <h3><a href="ChiTietSP.html">Sách ABC</a></h3>
                                        <h6><span class="price">190000</span> / <a href="ChiTietSP.html">Mua</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-sec">
                                <a href="DanhMucSanPham.html" class="btn orange-btn">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
