
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ShopQuocViet.Models;
@model List<DanhMuc>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="breadcrumb">
                    <div class="container">
                        <a class="breadcrumb-item" href="~/Home/Index">Shop Quốc Việt</a>
                        <span class="breadcrumb-item active">Danh mục sách</span>

                    </div>
                </div>
                <nav class="mainNav">
                    <ul>
                        @Html.Action("DanhMuc")
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <div class="recomended-sec">
                    <div class="container">
                        <div class="title">
                            <h2>sách nổi bật</h2>
                            <hr>
                        </div>
                        <div class="row">
                            @Html.Action("PartialSachNoiBat", "Home")
                        </div>
                    </div>
                    </section>
                    <div class="recomended-sec">
                        <div class="container">
                            <div class="title">
                                <h2>Sách mới nhất</h2>
                                <hr>
                            </div>
                            <div class="row">
                                @Html.Action("PartialSachNoiBat", "Home")
                            </div>
                        </div>
                        </section>
                    </div>
            </div>
        </div>
 </div>
