
@{
    Layout = null;
}
@using ShopQuocViet.Models;
@model List<ChuDe>

    @foreach (var item in Model)
    {
        <li>
            <a href="/DanhSachSP/index">@item.TenCD</a>
        </li>
    }