
@{
    Layout = null;
}
@using ShopQuocViet.Models;
@model List<ChuDe>

    @foreach (var item in Model)
    {
        <li>
           <a href="@Url.Action("index", "DanhSachSP", new { maCD = @item.MaCD })">@item.TenCD</a>
        </li>
    }