
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="breadcrumb">
                <div class="container">
                    <a class="breadcrumb-item" href="#">Shop Quốc Việt</a>
                    <span class="breadcrumb-item active">Review sách</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <a href="/ChiTietReview/Index"> <img src="~/Content/images/AnhSanPham1115010237267.jpg" alt="" /></a>
                    </div>
                    <div class="grid news_desc">
                        <a href="/ChiTietReview/Index">
                            <h3>Nhà giả kim & hành trình phiêu lưu của cậu bé chăn cừu </h3>
                        </a>
                        <h4>Bài đăng 13/8/2019-<span>Lê Anh Thắng</span></h4>
                        <p>
                            Nhà giả kim là một trong những tác phẩm hay nhất của nhà văn Paulo Coelho, được mệnh danh là cuốn sách bán chạy chỉ sau kinh thánh. Tuy nhiên, với những người đam mê sách khó tính, cuốn sách này dù kiệt xuất đến đâu cũng không
                            tránh khỏi nhiều sự chỉ trích trái chiều. Dễ hiểu hơn thì cứ 10 độc giả khen hay thì ắt có tới 9 người chê dở.
                            <a href="/ChiTietReview/Index" title="Xem Thêm">Xem thêm</a>
                        </p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <a href="/ChiTietReview/Index"> <img src="~/Content/images/AnhSanPham1115010237267.jpg" alt="" /></a>
                    </div>
                    <div class="grid news_desc">
                        <a href="">
                            <h3>Nhà giả kim & hành trình phiêu lưu của cậu bé chăn cừu </h3>
                        </a>
                        <h4>Bài đăng 13/8/2019-<span>Lê Anh Thắng</span></h4>
                        <p>
                            Nhà giả kim là một trong những tác phẩm hay nhất của nhà văn Paulo Coelho, được mệnh danh là cuốn sách bán chạy chỉ sau kinh thánh. Tuy nhiên, với những người đam mê sách khó tính, cuốn sách này dù kiệt xuất đến đâu cũng không
                            tránh khỏi nhiều sự chỉ trích trái chiều. Dễ hiểu hơn thì cứ 10 độc giả khen hay thì ắt có tới 9 người chê dở.
                            <a href="/ChiTietReview/Index" title="Xem Thêm">Xem thêm</a>
                        </p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <a href="/ChiTietReview/Index"> <img src="~/Content/images/AnhSanPham1115010237267.jpg" alt="" /></a>
                    </div>
                    <div class="grid news_desc">
                        <a href="/ChiTietReview/Index">
                            <h3>Nhà giả kim & hành trình phiêu lưu của cậu bé chăn cừu </h3>
                        </a>
                        <h4>Bài đăng 13/8/2019-<span>Lê Anh Thắng</span></h4>
                        <p>
                            Nhà giả kim là một trong những tác phẩm hay nhất của nhà văn Paulo Coelho, được mệnh danh là cuốn sách bán chạy chỉ sau kinh thánh. Tuy nhiên, với những người đam mê sách khó tính, cuốn sách này dù kiệt xuất đến đâu cũng không
                            tránh khỏi nhiều sự chỉ trích trái chiều. Dễ hiểu hơn thì cứ 10 độc giả khen hay thì ắt có tới 9 người chê dở.
                            <a href="/ChiTietReview/Index" title="Xem Thêm">Xem thêm</a>
                        </p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <a href="/ChiTietReview/Index"> <img src="~/Content/images/AnhSanPham1115010237267.jpg" alt="" /></a>
                    </div>
                    <div class="grid news_desc">
                        <a href="/ChiTietReview/Index">
                            <h3>Nhà giả kim & hành trình phiêu lưu của cậu bé chăn cừu </h3>
                        </a>
                        <h4>Bài đăng 13/8/2019 - <span>Lê Anh Thắng</span></h4>
                        <p>
                            Nhà giả kim là một trong những tác phẩm hay nhất của nhà văn Paulo Coelho, được mệnh danh là cuốn sách bán chạy chỉ sau kinh thánh. Tuy nhiên, với những người đam mê sách khó tính, cuốn sách này dù kiệt xuất đến đâu cũng không
                            tránh khỏi nhiều sự chỉ trích trái chiều. Dễ hiểu hơn thì cứ 10 độc giả khen hay thì ắt có tới 9 người chê dở.
                            <a href="/ChiTietReview/Index" title="Xem Thêm">Xem thêm</a>
                        </p>
                    </div>
                </div>
                <div class="content-pagenation">
                    <li><a href="#">Frist</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><span>....</span></li>
                    <li><a href="#">Last</a></li>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>

</div>


