
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 contentReview">
            <h3>Nhà giả kim & hành trình phiêu lưu của cậu bé chăn cừu</h3>
            <p>
                Nhà giả kim là một trong những tác phẩm hay nhất của nhà văn Paulo Coelho, được mệnh danh là cuốn sách bán chạy chỉ sau kinh thánh. Tuy nhiên, với những người đam mê sách khó tính, cuốn sách này dù kiệt xuất đến đâu cũng không tránh khỏi nhiều sự chỉ
                trích trái chiều. Dễ hiểu hơn thì cứ 10 độc giả khen hay thì ắt có tới 9 người chê dở. Thực hư về chuyện xuất bản nhiều như những cuốn sách kinh thánh rất có thể chỉ là một chiêu trò của các nhà Marketing. Tuy nhiên không thể phủ nhận
                rằng, Nhà giả kim (tiếng anh là The Alchemist) là một cuốn sách đã vượt tầm thời đại và có sức cuốn hút rất riêng mà hiếm tác phẩm đương thời nào sánh được. Bởi vậy nên không ngạc nhiên khi tác phẩm này đã trở thành một trong những
                cuốn sách “best-seller” liên tục trong nhiều năm tại các trang bán sách online.
            </p>
            <div class="imageReview">
                <img src="~/Content/images/SachGiaKim.jpg" alt="sách Giả Kim">
            </div>
            <br>
            <p>
                Một câu chuyện đơn giản về cậu bé chăn cừu vốn mộng mơ về những chuyến phiêu lưu định mệnh, vô tình gặp được một vị thầy bói có năng lực đặc biệt, và sau đó là hành trình từ giấc mơ trở thành đời thực của cậu chàng trong chuyến đi tìm kho báu truyền thuyết.
                Kích thích độc giả bởi lối dẫn truyện cuốn hút, những ví von trong cuộc sống đời thường và những lời thoại kinh điển. Nhà giả kim là nhân vật truyền kỳ xuất hiện như một vị thần, dẫn đường cho cậu chăn cừu bé bỏng mạnh dạn từ bỏ cuộc
                sống an nhàn hiện thực để đấu tranh cho một tương lai mạo hiểm khó có thể đoán định trước.
            </p>
            <h4>Nhà giả kim không phải là cuốn sách của những bài giảng</h4>
            <p>
                Nếu bạn cho rằng cuốn sách là những bài giảng về hành trình start-up, có lẽ bạn đã kỳ vọng nó quá nhiều. Một cuốn sách “best-seller” trên thực tế không mang nhiều ẩn ý đến thế. Hãy nhẹ nhàng tận hưởng nó như một đứa trẻ ngây thơ, coi như một cuốn sách
                để giải trí sau những giờ lao động làm việc mệt nhọc. Đừng gắn cho nó một cái mác to lớn là “self-help”. Bởi sau tất cả, Nhà giả kim vẫn chỉ là một câu chuyện truyền thuyết thôi, bạn nhé!
            </p>
        </div>
        <div class="col-sm-1">

        </div>
    </div>
</div>

