
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div id="ThongBaoDatHangThanhCong"><span>Đặt hàng thành công Chúng tôi sẽ liện hệ với bạn sau <a class="text-danger" href="~/">Về trang chủ</a></span></div>
<br />
<br />
<br />
<br />
<br />
<br />
<style>
    #ThongBaoDatHangThanhCong{
        text-align: center;
    }
</style>