
@{
    ViewBag.Title = "Answer2DoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4">
            <nav class="header__navbar">
                <div>
                    <h1 style="border: 12px; color: #fcba68;">Bài viết</h1>
                    <div class="topicArticle">
                        <ul>
                            <li><a href="DoiTra.html">Điều khoản và quy định</a></li>
                            <li><a href="answer2DoiTra.html">Quy trình đổi trả như thế nào?</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-6">
            <nav class="header__navbar">
                <div class="answerQuestion">
                    <h1>Quy trình đổi trả như thế nào?</h1>
                    <div>
                        <ol class="reason">
                            <li>
                                Online
                                <ul>
                                    <li>Gửi lại sách kèm hóa đơn thanh toán qua các phương tiện vận chuyển đến kho hàng tại 136 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</li>
                                    <li>Chờ xác nhận của công ty</li>
                                    <li>Nhận tiền hoàn lại</li>
                                </ul>
                            </li>
                            <li>
                                Offline
                                <ul>
                                    <li>Mang sách kèm hóa đơn thanh toán trực tiếp đến kho hàng tại 136 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</li>
                                    <li>Chờ xác nhận của công ty</li>
                                    <li>Nhận tiền hoàn lại</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

