@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <section class="slider">
       @Html.Partial("~/Views/Home/PartialSlideGioiThieu.cshtml")
    </section>
    <hr />
    <section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>sách nổi bật</h2>
            <hr>
        </div>
        <div class="row">
                    @Html.Action("PartialSachNoiBat", "Home")
        </div>
                <div class="btn-sec butXemNB">
                    <a href="/DanhMucSP/index" class="btn butDanhMucSach">Xem Thêm</a>
                </div>
   </div>
</section>
    <section>
        <div class="container anhGTTrangChu">
            <div class="row">
                <div class="col-sm-5">
                    <img src="~/Content/images/slide4.jpg" style="width:100%" id="anhgioiThieuHome" />
                </div>
                <div class="col-sm-7">
                    <div class="gioiThieuBookStore">
                        <h2>Giới thiệu</h2>
                        <p>
                            Nhà sách Quốc Việt là nhà sách Trực tuyến, đối tác chính thức của hơn 20 công ty, nhà phát hành sách hàng đầu Việt Nam: NXB Trẻ, NXB Kim Đồng, Nhã Nam, Alphabooks, First News,... với số lượng đầu sách đồ sộ được cập nhật liên tục hàng ngày. Ngoài mua
                            sách online tại ShopQuocViet.com, bạn còn có rất nhiều lựa chọn quà tặng, văn phòng phẩm, đồ chơi, vật dụng gia đình, CD/DVD, công nghệ, thời trang với giá niêm yết luôn bằng hoặc thấp hơn giá thị trường giúp bạn tiết kiệm
                            rất nhiều thời gian mua sắm
                        </p>
                        <div class="btn-sec">
                            <a href="/DanhMucSP/index" class="btn yellow">Sách hay</a>
                            <a href="/TaiKhoan/DangNhap" class="btn black">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
    </section>
    <section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>Sách mới nhất</h2>
            <hr>
        </div>
        <div class="row">
            @Html.Action("PartialSachNoiBat", "Home")
        </div>
        <div class="btn-sec  butXemNB">
            <a href="/DanhMucSP/index" class="btn butDanhMucSach">Xem Thêm</a>
        </div>
    </div>
</section>

    <section class="testimonial-sec">
        @Html.Partial("~/Views/Home/PartialCauNoiVeSach.cshtml")
  </section>

 