
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-sm-1 anhQuangCao1">

        </div>
        <div class="col-sm-10">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="slide">
                        <img src="~/Content/images/slide1.jpg" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng bạn đến với cửa hàng sách Quốc Việt</h3>
                                <h5>Nơi thỏa mãn đam mê đọc sách của mọi người</h5>
                                <a href="/DanhMucSP/index" class="btn">Sách Hay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide">
                        <img src="~/Content/images/slide2.jpg" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng bạn đến với cửa hàng sách Quốc Việt</h3>
                                <h5>Nơi thỏa mãn đam mê đọc sách của mọi người</h5>
                                <a href="/DanhMucSP/index" class="btn">Sách Hay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide">
                        <img src="~/Content/images/slide3.jpg" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng bạn đến với cửa hàng sách Quốc Việt</h3>
                                <h5>Nơi thỏa mãn đam mê đọc sách của mọi người</h5>
                                <a href="/DanhMucSP/index" class="btn">Sách Hay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide">
                        <img src="~/Content/images/slide4.jpg" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>Chào mừng bạn đến với cửa hàng sách Quốc Việt</h3>
                                <h5>Nơi thỏa mãn đam mê đọc sách của mọi người</h5>
                                <a href="/DanhMucSP/index" class="btn">Sách Hay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 anhQuangCao2">

        </div>
    </div>
</div>