
@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div id="ThongBaoCapNhat"><span>Thay đổi thông tin cá nhân thành công <a class="text-danger" href="~/">Về trang chủ</a></span></div>
<br />
<br />
<br />
<br />
<br />
<br />
<style>
    #ThongBaoCapNhat {
        text-align: center;
    }
</style>
