
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3 style="text-align:center">Hiện tại giỏ hàng của bạn đang trống</h3>
    <br />
    <br />
    <br />
    <br />
    <br />

</div>

